{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "Api": "./src/api",
        "Controllers": "./src/api/controllers",
        "Services": "./src/api/services",
        "Config": "./src/config",
        "Utils": "./src/utils",
        "TestUtils": "./test/utils"
      }
    }]
  ]
}
